.SwipeCardImage {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.SwipeCardControls {
    position: absolute;
    bottom:0;
    left:0;
    height:15%;
    width:100%;
    display: flex;          /* Use flexbox to align the buttons horizontally */
    align-items: center;    /* Vertically center the buttons */
    justify-content: space-evenly; /* Space buttons evenly or use other spacing methods */
    padding: 0;             /* Remove padding if any */
    margin: 0;              /* Remove margin if any */
    height: auto;           /* Let the height adjust to the content */
}